<!DOCTYPE HTML>
<html>
<head>
  <link rel='stylesheet' type='text/css' href='style/game.css'>
  <title>game of afterlife</title>
</head>
<body>
  <%= yield %>
</body>
<script src='js/game.js'></script>
</html>