<!DOCTYPE HTML>
<html>
<head>
  <link rel='stylesheet' type='text/css' href='style/game.css'>
  <title>game of afterlife</title>
</head>
<body>
  <div class='header'>
    <img src='/img/game_of_afterlife_logo.png'>
  </div>
  <div class='content'>
    <%= yield %>
  </div>
</body>
<script src='js/game.js'></script>
</html>